@import url('https://fonts.googleapis.com/css2?family=Figtree&display=swap');
:root {
    --main-bg-color: hsl(150, 20%, 25%);
    --secondary-bg-color: hsl(131, 22%, 29%);
    --box-shadow-color: hsla(0, 15%, 8%, 0.5rem);
    --main-font-color: hsl(46, 25%, 93%);
    --secondary-font-color: #fff;
    --button-hover-color: hsl(78, 23%, 30%);
    --secondary-button-color: #fff;
}


*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

.root {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-bg-color);
    color: var(--main-font-color);
    font-family: 'Figtree', sans-serif;
}

.home {
    margin-bottom: 2vh;
}

.tags {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 3vw;
}

.icon-text {
    font-size: 0.85rem;
}

.icon {
    filter: invert(75%);
    margin-top: 0.5vh;
}

.tag {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: hsla(0, 0%, 0%, 0.3);
    box-shadow: 5px 5px 5px  hsl(0, 15%, 8%);
    text-align: center;
    font-size: 0.75rem;
    margin: 2vh 0;
}

.tag:hover {
    background-color: var(--button-hover-color);
}

.card-container {
    min-width: 300px;
    max-width: 50vw;
    min-height: 500px;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--main-bg-color);
    box-shadow: inset 5px 5px 5px  hsla(0, 15%, 8%, 0.5);
    border-radius: 10px;
    padding: 10rem 5rem;
}

.card-title {
    font-size: 0.7rem;
}

.gif-image {
    border-radius: 5px;
    box-shadow:inset 5px 5px 5px  hsl(0, 5%, 10%);
    margin: 1vh 0;
}

.advice-container {
    font-size: 1.2rem;
    line-height: 1.5rem;
    letter-spacing: 0.2rem;
    background-color:  hsla(0, 5%, 10%, 0.3);
    box-shadow: 5px 5px 5px  hsl(0, 5%, 10%);
    border-radius: 5px;
    padding: 10px 5px;
    margin-bottom: 5vh;
    transition-property: background-color;
    transition-duration: 500ms;
    transition-delay: 250ms;
}

.advice-container:hover {
    background-color:  hsla(0, 5%, 10%, 0.7);
}

.button-container {
    margin: 3vh 0;
}

.like-button {
    margin-right: 2.5vw;
    border-radius: 50%;
    background-color: hsl(0, 0%, 0%);
    box-shadow: 5px 5px 5px  hsl(0, 5%, 10%);
    padding: 15px;
    border: none;
}

.like-button:hover {
    background-color: var(--button-hover-color);
}

.comment-button {
    margin-left: 2.5vw;
    border-radius: 50%;
    background-color: hsl(0, 0%, 0%);
    box-shadow: 5px 5px 5px  hsl(0, 5%, 10%);
    padding: 15px;
    border: none;
}

.comment-button:hover {
    background-color: var(--button-hover-color);
}

.blurred {
    filter: blur(0.5rem);
}

