@import url('https://fonts.googleapis.com/css2?family=Figtree&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

.root {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: hsl(0, 0%, 10%);
    color: hsl(0, 25%, 100%);
    font-family: 'Figtree', sans-serif;;
}

.card-container {
    margin-top: 5vh;
    max-width: 300px;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid  hsla(0, 25%, 0%, 0.3);
    box-shadow: inset 5px 5px 5px  hsl(0, 5%, 10%);
    background-color:hsl(0, 5%, 15%);
    border-radius: 10px;
    padding: 10rem 0.5rem;
}

.card-title {
    font-size: 0.7rem;
}

.gif-image {
    border-radius: 5px;
    box-shadow:inset 5px 5px 5px  hsl(0, 5%, 10%);
    margin: 1vh 0;
}

.advice-container {
    font-size: 1.2rem;
    background-color:  hsla(0, 5%, 10%, 0.3);
    box-shadow: 5px 5px 5px  hsl(0, 5%, 10%);
    border-radius: 5px;
    padding: 10px 5px;
    margin-bottom: 5vh;
    transition-property: background-color;
    transition-duration: 500ms;
    transition-delay: 250ms;
}

.advice-container:hover {
    background-color:  hsla(0, 5%, 10%, 0.7);
}

.button-container {
    margin: 3vh 0;
}

.like-button {
    margin-right: 0.5vw;
    border-radius: 50%;
    background-color: hsl(0, 0%, 0%);
    box-shadow: 5px 5px 5px  hsl(0, 5%, 10%);
}

.like-button:hover {
    background-color: hsl(240, 50%, 20%);
}

.comment-button {
    margin-left: 0.5vw;
    border-radius: 50%;
    background-color: hsl(0, 0%, 0%);
    box-shadow: 5px 5px 5px  hsl(0, 5%, 10%);
}

.comment-button:hover {
    background-color: hsl(240, 50%, 20%);
}

.blurred {
    filter: blur(0.5rem);
}

